/* Custom - , Retina */ 

  @media(min-width : 230px) {
   .imgclass{
            margin:0;
            padding:0;
        }
   .product-image {
    width: 30px;
    height: 42px;
    margin-left: 7px;
    border-width: 1px;
            }
   
   .mobile-menu {
    padding: 0px;
    width:20%;
   
    }
    .heading {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size:8px;
    
    }
    .subheading {
    font-size:7px;
    margin-bottom: 2px;
    margin-top:35px;
    }
    .foodheading
    {
        font-size:7px;
        margin-top: 3px;
    }
    .orderrateheading{
        font-size:7px;
        margin-top:-7px;
    }
    .rateheading
    {
        font-size:7px;
        margin-top:2px;
    }
    .orderheading{
         margin-top: -7px;
         font-size:7px;
     }
   .subbutton{
    margin: 15px 0px 0px 0px;
    font-size:7px;
    padding:1px;
    }
    .middleheading
    {
        margin-top:23px;
    }
    .mobile-image{
        width:auto;
        height:85px;
     
     }

    }
    @media(min-width : 320px) {
        .imgclass{
            margin:0;
            padding:0;
        }
   .product-image {
    width: 42px;
    height: 50px;
    margin-top: 2px;
    margin-left: 7px;
    border-width: 1px
            }
   
   .mobile-menu {
    padding: 0px;
    width:20%;
   
    }
    .heading {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size:smaller;
    
    }
    .subheading {
    font-size:x-small;
    margin-bottom: 2px;
    margin-top:35px;
    }
    .foodheading
    {
        font-size:x-small;
        margin-top: 3px;
    }
    .orderrateheading{
        font-size:x-small;
        margin-top:-7px;
    }
    .rateheading
    {
        font-size:x-small;
        margin-top:2px;
    }
    .orderheading{
         margin-top: -7px;
         font-size:x-small;
     }
   .subbutton{
    margin: 23px 0px 0px 0px;
    font-size:xx-small;
    padding:1px;
    }
    .middleheading
    {
        margin-top:31px;
    }
    .mobile-image{
        width:auto;
        height:85px;
     
     }

    }
    @media(min-width : 420px)
     {
        
   .product-image {
                width: 58px;
                height: 61px;
                border-width:1px;
                margin-left: -9px;
            }
   
   .mobile-menu {
    padding: 0px;
    width:20%;
   
    }
    .heading {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size:smaller;
    
    }
    .subheading {
    font-size:x-small;
    margin-bottom: 2px;
    margin-top:35px;
    }
    .foodheading
    {
        font-size:x-small;
        margin-top: 3px;
    }
    .orderrateheading{
        font-size:x-small;
        margin-top:-3px;
    }
    .rateheading
    {
        font-size:x-small;
        margin-top:6px;
    }
    .orderheading{
         margin-top: 8px;
         font-size:x-small;
     }
   .subbutton{
    margin: 28px 0px 0px 6px;
    font-size:xx-small;
    }
    .middleheading
    {
        margin-top:36px;
    }
    .mobile-image{
        width:auto;
        height:85px;
     
     }
 }
    /* xs- Extra Small Devices, Phones */ 
    @media(min-width : 480px) {
     .product-image {
    width: 58px;
    height: 61px;
    border-width: 1px;
    margin-left: 10px;
            }
   .mobile-menu {
    padding: 0px;
    width:20%;
   
    }
    .heading {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size:small;
    
    }
    .subheading {
    font-size:small;
    margin-bottom: 2px;
    margin-top:46px;
    }
    .foodheading
    {
        font-size:small;
    }
    .rateheading
    {
        font-size:small;
    }
    .orderrateheading{
         margin-top:-2px;
         font-size:small;
     }
    .orderheading{
         margin-top:-5px;
         font-size:small;
     }
   .subbutton{
    margin: 26px 0px 0px 0px;
    font-size:small;
    padding:2px;
    }
    .middleheading
    {
        margin-top:39px;
    }
    .mobile-image{
        width:auto;
        height:85px;
     
     }
       
    }
     @media(min-width : 600px) {
     .product-image {
        width: 77px;
    height: 73px;
    border-width: 1px;
    margin-left: 10px;
            }
   .mobile-menu {
    padding: 0px;
    width:20%;
   
    }
    .heading {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size:small;
    
    }
    .subheading {
    font-size:small;
    margin-bottom: 2px;
    margin-top:46px;
    }
    .foodheading
    {
        font-size:small;
    }
    .rateheading
    {
        font-size:small;
    }
    .orderrateheading{
         margin-top:-2px;
         font-size:small;
     }
    .orderheading{
         margin-top:-5px;
         font-size:small;
     }
   .subbutton{
    margin: 26px 0px 0px 8px;
    font-size:small;
    padding:3px;
    }
    .middleheading
    {
        margin-top:39px;
    }
    .mobile-image{
        width:auto;
        height:85px;
     
     }
       
    }
 /* sm - Small Devices, Tablets */
@media(min-width:768px) {
     .product-image {
        width: 77px;
    height: 73px;
    border-width: 1px;
    margin-left: 28px;
            }
   .mobile-menu {
    padding: 0px;
    width:20%;
   
    }
    .heading {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size:small;
    
    }
    .subheading {
    font-size:small;
    margin-bottom: 2px;
    margin-top:46px;
    }
    .foodheading
    {
        font-size:small;
    }
    .rateheading
    {
        font-size:small;
    }
    .orderrateheading{
         margin-top:-2px;
         font-size:small;
     }
    .orderheading{
         margin-top:-5px;
         font-size:small;
     }
   .subbutton{
    margin: 26px 0px 0px 27px;
    font-size:small;
    padding:3px;
    }
    .middleheading
    {
        margin-top:39px;
    }
    .mobile-image{
        width:auto;
        height:85px;
     
     }
       
    }
 /* md - Medium Devices, Desktops */
@media(min-width:992px) {
     .product-image {
        width: 77px;
    height: 73px;
    border-width: 1px;
    margin-left: 28px;
            }
   .mobile-menu {
    padding: 0px;
    width:20%;
   
    }
    .heading {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size:small;
    
    }
    .subheading {
    font-size:small;
    margin-bottom: 2px;
    margin-top:46px;
    }
    .foodheading
    {
        font-size:small;
    }
    .rateheading
    {
        font-size:small;
    }
    .orderrateheading{
         margin-top:-2px;
         font-size:small;
     }
    .orderheading{
         margin-top:-5px;
         font-size:small;
     }
   .subbutton{
    margin: 26px 0px 0px 27px;
    font-size:small;
    padding:3px;
    }
    .middleheading
    {
        margin-top:39px;
    }
    .mobile-image{
        width:auto;
        height:85px;
     
     }
       
    }
  /* lg- Large Devices, Wide Screens */
@media(min-width:1200px)
{   .product-image{  
    width: 121px;
    height: 97px;
    margin: 0px 0px 0px 27px;
    border-width:1px;
}
   .mobile-menu {
    padding: 0px;
    width:20%;
    }
    .heading {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size:large;
    
    }
    .subheading {
    font-size:larger;
    margin-bottom: 2px;
    margin-top:46px;
    }
    .orderheading{
         margin-top:13px;
         font-size:larger;
     }
    .orderrateheading{
         margin-top:-4px;
         font-size:larger;
     }
    .rateheading
    {
        font-size:larger;
    }
    .foodheading
    {
        font-size:larger;
    }
   .subbutton{
    margin: 35px 0px 0px 55px;
    font-size:larger;
    padding:6px 12px;
    }
    .middleheading
    {
        margin-top:55px;
    }
    .mobile-image{
        width:auto;
        height:92px;
     }
  
 }


